In [40]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
import seaborn as sns
import matplotlib.pyplot as plt
import sys

#한글 인코딩
from matplotlib import rc
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False
from datetime import datetime

In [41]:
gu_num = pd.read_csv('구별충전기개수.csv')
gu_num = gu_num.sort_values(by='한글주소')
gu_num.reset_index(inplace=True)
gu_num.head()
gu_num.head()

,index,Unnamed: 0,한글주소,사용전력량,충전소요시간,충전기 개수,충전기 1개당 사용전력량,충전기 1개당 충전소요시간
0,0,0,강남구,430598.40,697 days 21:40:00,31,13890.270968,22 days 12:18:42.580645161
1,12,12,강동구,140422.50,176 days 11:47:00,7,20060.357143,25 days 05:06:42.857142857
2,23,23,강북구,57633.84,64 days 00:40:00,7,8233.405714,9 days 03:31:25.714285714
3,10,10,강서구,184012.83,257 days 04:13:00,13,14154.833077,19 days 18:47:09.230769230
4,5,5,관악구,259232.85,360 days 02:00:00,8,32404.106250,45 days 00:15:00

In [42]:
all = pd.read_csv('총정리df.csv')
all = all.sort_values(by='자치구')
all.reset_index(inplace=True)
all.head()

,index,자치구,인구수,전기자동차 등록대수,인구수 대비 전기자동차 등록대수,세대수,세대수 대비 전기자동차 등록대수,충전기개수,종합소득금액,구별 주차장 면적합,전기자동차대수/전체자동차대수,일반주택,공동주택,일반건축물,주거지역,상업지역,공업지역,녹지지역
0,22,강남구,536107.0,8233,0.015357,232707.0,0.035379,118,14162904,797206,0.034782,6423,3710,9502,24228249,1946139,0,13322880
1,24,강동구,469094.0,1029,0.002194,200170.0,0.005141,82,2142585,406280,0.006744,7240,3782,8613,12965432,680697,0,10910074
2,8,강북구,306093.0,400,0.001307,144525.0,0.002768,25,896816,184630,0.005293,5510,3440,2085,10980897,270342,0,12384780
3,15,강서구,582995.0,1244,0.002134,269276.0,0.004620,67,2520862,594550,0.006070,7058,6998,4121,14717833,1323788,2919995,22500881
4,20,관악구,502698.0,594,0.001182,274565.0,0.002163,28,1844461,306234,0.004998,11083,4646,5046,15325411,392024,0,13846047

In [43]:
env_to_all = pd.concat([all, gu_num[['충전기 개수']]], axis=1)
env_to_all.head()

,index,자치구,인구수,전기자동차 등록대수,인구수 대비 전기자동차 등록대수,세대수,세대수 대비 전기자동차 등록대수,충전기개수,종합소득금액,구별 주차장 면적합,전기자동차대수/전체자동차대수,일반주택,공동주택,일반건축물,주거지역,상업지역,공업지역,녹지지역,충전기 개수
0,22,강남구,536107.0,8233,0.015357,232707.0,0.035379,118,14162904,797206,0.034782,6423,3710,9502,24228249,1946139,0,13322880,31
1,24,강동구,469094.0,1029,0.002194,200170.0,0.005141,82,2142585,406280,0.006744,7240,3782,8613,12965432,680697,0,10910074,7
2,8,강북구,306093.0,400,0.001307,144525.0,0.002768,25,896816,184630,0.005293,5510,3440,2085,10980897,270342,0,12384780,7
3,15,강서구,582995.0,1244,0.002134,269276.0,0.004620,67,2520862,594550,0.006070,7058,6998,4121,14717833,1323788,2919995,22500881,13
4,20,관악구,502698.0,594,0.001182,274565.0,0.002163,28,1844461,306234,0.004998,11083,4646,5046,15325411,392024,0,13846047,8

In [44]:
for i in range(len(env_to_all)):
    env_to_all.loc[i,'전체/한황'] = env_to_all.loc[i,'충전기개수'] / env_to_all.loc[i,'충전기 개수']
    
env_to_all.head()

,index,자치구,인구수,전기자동차 등록대수,인구수 대비 전기자동차 등록대수,세대수,세대수 대비 전기자동차 등록대수,충전기개수,종합소득금액,구별 주차장 면적합,전기자동차대수/전체자동차대수,일반주택,공동주택,일반건축물,주거지역,상업지역,공업지역,녹지지역,충전기 개수,전체/한황
0,22,강남구,536107.0,8233,0.015357,232707.0,0.035379,118,14162904,797206,0.034782,6423,3710,9502,24228249,1946139,0,13322880,31,3.806452
1,24,강동구,469094.0,1029,0.002194,200170.0,0.005141,82,2142585,406280,0.006744,7240,3782,8613,12965432,680697,0,10910074,7,11.714286
2,8,강북구,306093.0,400,0.001307,144525.0,0.002768,25,896816,184630,0.005293,5510,3440,2085,10980897,270342,0,12384780,7,3.571429
3,15,강서구,582995.0,1244,0.002134,269276.0,0.004620,67,2520862,594550,0.006070,7058,6998,4121,14717833,1323788,2919995,22500881,13,5.153846
4,20,관악구,502698.0,594,0.001182,274565.0,0.002163,28,1844461,306234,0.004998,11083,4646,5046,15325411,392024,0,13846047,8,3.500000

In [45]:
env_to_all = pd.concat([gu_num, env_to_all[['전체/한황']]], axis=1)
env_to_all.head()

,index,Unnamed: 0,한글주소,사용전력량,충전소요시간,충전기 개수,충전기 1개당 사용전력량,충전기 1개당 충전소요시간,전체/한황
0,0,0,강남구,430598.40,697 days 21:40:00,31,13890.270968,22 days 12:18:42.580645161,3.806452
1,12,12,강동구,140422.50,176 days 11:47:00,7,20060.357143,25 days 05:06:42.857142857,11.714286
2,23,23,강북구,57633.84,64 days 00:40:00,7,8233.405714,9 days 03:31:25.714285714,3.571429
3,10,10,강서구,184012.83,257 days 04:13:00,13,14154.833077,19 days 18:47:09.230769230,5.153846
4,5,5,관악구,259232.85,360 days 02:00:00,8,32404.106250,45 days 00:15:00,3.500000

In [54]:
int(env_to_all.loc[3,'충전소요시간'][:-14])*1440

370080

In [52]:
for i in range(len(env_to_all)):
    int(env_to_all.loc[i, '충전소요시간']) = int(env_to_all.loc[i, '충전소요시간'][-5:-3]) + int(env_to_all.loc[i, '충전소요시간'][-8:-6])*60 + int(env_to_all.loc[i, '충전소요시간'][:-14])*1440

SyntaxError: cannot assign to function call (<ipython-input-52-f199b74c78a5>, line 2)

In [34]:
for i in range(len(env_to_all)):
    env_to_all.loc[i,'전체 사용전력량'] = env_to_all.loc[i,'사용전력량'] * env_to_all.loc[i,'전체/한황']
     env_to_all.loc[i,'전체 충전소요시간'] = env_to_all.loc[i,'충전소요시간'] * env_to_all.loc[i,'전체/한황']

ValueError: time data '697 days 21:40:00' does not match format '%d days %H:%M:%S'